# Vim swap files
**/*.swp

# Do not upload ROMs, original or otherwise
# rom/**
**/*.sfc
**/*.smc

# Do not upload data for dumped graphics (copyrighted data)
gfx dump*/**

# Do not upload generated patches in repository - upload as releases instead
**/*.bps
**/*.ips

# Do not upload compiled Java bytecode
**/*.class

# Do not upload any old versions of things I keep just in case I need them
OLD/**
OLD/

# Do not upload any script dumps or related data
script/DUMP*.txt
script/analysis/**
script/*.bin
tables/huffman code dump.txt
tables/raw huffman tree data.txt

# Do not upload any log files
logs/**

# Do not upload generated binary files related to the font
font/*.bin

# Do not upload Windows executables for external tools
**/*.exe
